@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
:root {
  --bg-color: #2B2B2B;
  --font-color: #fff;
  --buttom-color: #A259FF;
  --btn-bef: #9649fb;
  --header-text-size: 16px;
  --bg-color-card: #3b3b3b;
  --color-cost-card: #858584;
  --foot-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--font-color);
  padding: 0 20px;
  background-color: var(--bg-color);
}

body {
  margin: 0 auto;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  font-style: normal;
}

li {
  list-style: none;
}

p,
span,
h1,
h2,
h3,
h4,
h5 {
  background: transparent;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

a,
input {
  text-decoration: none; /* Убирает подчеркивание по умолчанию */
  color: black; /* Устанавливает цвет текста на наследованный цвет */
  cursor: pointer;
}
a:focus,
input:focus {
  outline: none;
}

.container-header {
  width: 1280px;
  padding: 20px 50px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1050px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories-card:hover {
  scale: 1.1;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
}

.header-logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo ul li:first-child {
  margin-right: 12px;
}
.header-logo ul li:hover {
  cursor: pointer;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav ul li {
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  padding: 0px 20px;
  gap: 12px;
  position: relative;
}
.header-nav ul li:last-child {
  margin-right: 0px;
  background-color: var(--buttom-color);
  text-align: end;
  border-radius: 20px;
  padding-left: 40px;
}
.header-nav ul li:last-child::before {
  content: "";
  display: block;
  background-image: url(./../../../assets/icons/User.svg);
  height: 20px;
  width: 20px;
  position: absolute;
  right: 80px;
  bottom: 14px;
}
.header-nav ul li:hover {
  cursor: pointer;
  color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  color: var(--font-color);
  font-size: var(--header-text-size);
}

.object {
  padding: 80px 0;
}

.object-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.object-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.object-text h1 {
  font-family: "Work Sans";
  font-size: 67px;
  font-weight: 600;
  line-height: 110%; /* 73.7px */
  text-transform: capitalize;
}
.object-text p {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}

.object-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.object-buttons a {
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.object-folovers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.object-folovers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 5px;
}
.object-folovers ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}
.object-folovers ul li:nth-child(n+1):nth-child(-n+3) {
  font-family: "Space Mono";
  font-size: 28px;
  font-weight: 700;
  line-height: 140%; /* 39.2px */
  text-transform: capitalize;
}
.object-folovers ul li:nth-child(n+4):nth-child(-n+6) {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}

.object-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 510px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.object-foto p {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
}

.object-foto-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  padding-left: 40px;
  position: relative;
}
.object-foto-name::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(../../../../assets/images/Avatar\ Placeholder.png);
  position: absolute;
  right: 90px;
  bottom: 1px;
}

.object-acount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 109px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-radius: 0px 0px 20px 20px;
  background: #3b3b3b;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: var(--buttom-color);
  padding: 0 30px;
  border-radius: 20px;
}

.button-before::before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background-image: url(../../../../assets/icons/RocketLaunch.svg);
  background-color: transparent;
  margin-right: 5px;
}

.button:hover {
  background-color: var(--buttom-color);
}

.colections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.colections-title {
  margin-bottom: 60px;
}
.colections-title ul {
  display: block;
}
.colections-title ul li {
  padding-bottom: 10px;
}
.colections-title ul li:first-child {
  font-family: "Work Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
}

.colections-card-row {
  gap: 30px;
}

.colections-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.colections-card-foto {
  height: 330px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.colections-card-row-minifoto {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  gap: 15px;
}

.colections-card-minifoto {
  width: 30%;
  height: 100px;
}

.colections-card-folovers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  background-color: var(--buttom-color);
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
}

.colections-card-name-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.colections-card-name h5 {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
}

.colections-card-acount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.colections-card-acount::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(../../../../assets/images/minifoto1.png);
  background-color: transparent;
  margin-right: 5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: 50% 50%;
  background-size: cover;
}

.foto {
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
}

.foto1 {
  background-image: url(../../../../assets/images/foto1.png);
}

.minifoto1 {
  background-image: url(../../../../assets/images/minifoto1.png);
}

.minifoto2 {
  background-image: url(../../../../assets/images/minifoto2.png);
}

.avatar1 {
  background-image: url(../../../../assets/avatars/avatar1.png);
}

.avatar2 {
  background-image: url(../../../../assets/avatars/avatar2.png);
}

.avatar3 {
  background-image: url(../../../../assets/avatars/avatar3.png);
}

.avatar4 {
  background-image: url(../../../../assets/avatars/avatar4.png);
}

.artist-colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.artist-block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 100px;
}

.atrist-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.atrist-title h3 {
  font-family: "Work Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
}

.artist-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 0px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: 2px solid var(--buttom-color);
  border-radius: 20px;
}
.artist-button::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../../../assets/icons/RocketLaunch.svg);
}

.text-buton {
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.artist-block2 {
  counter-reset: number;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

.artist-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  border-radius: 20px;
  background: var(--bg-color-card);
  position: relative;
}
.artist-card::before {
  content: counter(number);
  counter-increment: number;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--bg-color);
  color: var(--color-cost-card);
  position: absolute;
  left: 20px;
  top: 18px;
}

.atist-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: transparent;
}

.artist-avatar-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  height: 110px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.artist-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: transparent;
}
.artist-info p {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
}

.artist-cost {
  background-color: transparent;
}
.artist-cost span:first-child {
  color: var(--color-cost-card);
}

.categories {
  padding: 80px 0;
}

.categories-title {
  margin-bottom: 60px;
}
.categories-title span {
  font-family: "Work Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
}

.categories-card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.categories-card-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-color-card);
  border-radius: 20px 20px 0px 0px;
  position: relative;
}
.categories-card-foto img {
  -webkit-filter: blur(5.5px);
          filter: blur(5.5px);
  width: 240px;
  height: 240px;
  border-radius: 20px 20px 0 0;
}

.one::before {
  content: url(../../../../assets/icons/PaintBrush.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.two::before {
  content: url(../../../../assets/icons/Swatches.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.three::before {
  content: url(../../../../assets/icons/MusicNotes.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.four::before {
  content: url(../../../../assets/icons/Camera.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.five::before {
  content: url(../../../../assets/icons/VideoCamera.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.six::before {
  content: url(../../../../assets/icons/MagicWand.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.seven::before {
  content: url(../../../../assets/icons/Basketball.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.night::before {
  content: url(../../../../assets/icons/Planet.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.categories-card-title {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
  background-color: var(--bg-color-card);
  padding: 20px 30px 25px 30px;
  border-radius: 0 0 20px 20px;
}

.nft {
  padding: 80px 0;
}

.nft-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.nft-box-title p {
  margin-bottom: 10px;
  font-family: "Work Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
}
.nft-box-title span {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}

.nft-box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 0px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  border-radius: 20px;
  border: 2px solid #a259ff;
}
.nft-box-button::before {
  content: url(../../../../assets/icons/Eye.svg);
  width: 20px;
  height: 20px;
}

.nft-card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.nft-card {
  background-color: var(--bg-color-card);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.nft-card-image {
  background-color: inherit;
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  height: 100%;
}
.nft-card-image img {
  max-width: 100%;
  height: auto;
  width: 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-radius: 20px 20px 0 0;
}

.nft-card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px 25px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: inherit;
  border-radius: 0 0 20px 20px;
}

.nft-card-title-name {
  background-color: inherit;
}
.nft-card-title-name p {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
}
.nft-card-title-name span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.nft-card-title-name span::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../../../assets/avatars/avatar1.png);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 12px;
}

.nft-card-title-info {
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-radius: 0 0 20px 20px;
}

.nft-card-title-cost {
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.nft-card-title-cost p:first-child {
  font-family: "Space Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  color: #858584;
}

.nft-card-title-bid {
  border-radius: 0 0 20px 20px;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.nft-card-title-bid p:first-child {
  font-family: "Space Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  color: #858584;
}

.magic {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(162, 89, 255, 0)), to(#a259ff)), url(../../../../assets/images/NFT_background.png);
  background-image: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%), url(../../../../assets/images/NFT_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.positions {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 360px 0px 60px 0px;
}

.magic-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.magic-artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.magic-artist-name-two span {
  font-family: "Work Sans";
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 56.1px */
  text-transform: capitalize;
}

.magic-artist-batton span {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 22px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: black;
  background-color: #fff;
  border-radius: 20px;
}
.magic-artist-batton span::before {
  content: url(../../../../assets/icons/Eye.svg);
  width: 20px;
  height: 20px;
}

.magic-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 295px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.magic-time-title span {
  font-family: "Space Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  color: #858584;
  color: #fff;
}

.magic-time-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.magic-time-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.magic-time-clock span:first-child {
  font-family: "Space Mono";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
}
.magic-time-clock span:last-child {
  font-family: "Space Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  color: #858584;
  color: #fff;
}

.magic-time-probel span {
  font-family: "Space Mono";
  font-size: 28px;
  font-weight: 700;
  line-height: 140%; /* 39.2px */
  text-transform: capitalize;
}

.works {
  padding: 80px 0;
}

.works-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 48px;
}

.works-title span:first-child {
  display: block;
  font-family: "Work Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
  margin-bottom: 10px;
}

.works-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-card {
  background-color: var(--bg-color-card);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  padding: 10px 30px 30px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  gap: 20px;
  border-radius: 20px;
}

.works-card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.works-card-title span {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
}
.works-card-title p {
  text-align: center;
}

.subscribe-container {
  padding: 40px 0 80px 0;
}

.subscribe-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  background-color: var(--bg-color-card);
  border-radius: 20px;
}

.subscribe-image {
  height: 310px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  background-image: url(../../../../assets/images/subscribe.png);
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
}

.subscribe-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  width: 425px;
}

.subscribe-title-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.subscribe-title-name span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.subscribe-title-name span:first-child {
  font-family: "Work Sans";
  font-size: 38px;
  font-weight: 600;
  line-height: 120%; /* 45.6px */
  text-transform: capitalize;
}

.subscribe-title-folover {
  position: relative;
}
.subscribe-title-folover span {
  position: absolute;
}
.subscribe-title-folover span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 60px;
  width: 100%;
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 16px 0px 16px 20px;
  border-radius: 20px;
}
.subscribe-title-folover span:last-child {
  left: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 0px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  background-color: var(--buttom-color);
  border-radius: 20px;
}
.subscribe-title-folover span:last-child::before {
  content: url(../../../../assets/icons/EnvelopeSimple.svg);
  height: 20px;
  width: 20px;
}

.footer-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  width: 100%;
}

.footer-nft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  width: 327px;
}

.footer-nft-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.footer-nft-info p {
  color: var(--foot-color);
}

.footer-nft-community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}

.footer-nft-community-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
}
.footer-explore p {
  font-family: "Space Mono";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 35.2px */
  text-transform: capitalize;
}

.footer-explore-pages ul li {
  color: var(--foot-color);
  margin-bottom: 20px;
}

.footer-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
}
.footer-subscribe p {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
}

.footer-subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.footer-subscribe-form span {
  color: var(--foot-color);
}

.subscribe-title-folover input {
  padding-left: 15px;
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 20px;
}
.subscribe-title-folover span {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 834px) {
  .container {
    width: 690px;
  }
  header {
    margin: 0 auto;
  }
  .container-header {
    padding: 20px 0;
  }
  .object-text h1 {
    font-family: "Work Sans";
    font-size: 38px;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize;
  }
  .object-text p {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
  .object-buttons a {
    font-weight: 600;
    color: var(--font-color);
  }
  .object-folovers ul li:nth-child(n+1):nth-child(-n+3) {
    font-family: "Work Sans";
    font-size: 22px;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    text-transform: capitalize;
  }
  .object-folovers ul li:nth-child(n+4):nth-child(-n+6) {
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    text-align: left;
  }
  .object-foto {
    height: auto;
    overflow: hidden;
  }
  .object-foto img {
    width: 100%;
  }
  .colections-title ul li:first-child {
    font-family: "Work Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 39.2px */
    text-transform: capitalize;
  }
  .colections-card:nth-child(n+3) {
    display: none;
  }
  .artist-colum {
    padding: 40x 0;
  }
  .artist-button::before {
    content: "";
    height: 20px;
    width: 30px;
  }
  .artist-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .artist-card:nth-child(n+7) {
    display: none;
  }
  .artist-card::before {
    left: 10px;
    top: 13px;
  }
  .artist-avatar-foto {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
  .artist-info {
    width: 100%;
    gap: 0;
  }
  .artist-info p {
    width: 100%;
    text-align: left;
  }
  .artist-cost {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  .artist-cost span {
    text-align: left;
    width: 100%;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
  .categories {
    padding: 40px 0;
  }
  .categories-title span {
    font-family: "Space Mono";
    font-size: 28px;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
    text-transform: capitalize;
  }
  .categories-card {
    width: 150px;
  }
  .categories-card-foto {
    background: lightgray;
  }
  .categories-card-foto img {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    width: 150px;
    height: 100%;
  }
  .categories-card-title {
    padding: 20px 20px 25px 20px;
  }
  .categories-card-title span {
    white-space: nowrap;
    color: var(--White, #fff);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .nft-box-title p {
    font-family: "Space Mono";
    font-size: 28px;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
    text-transform: capitalize;
  }
  .nft-box-title span {
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
  .nft-box-button span {
    color: var(--White, #fff);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .nft-card:nth-child(n+3) {
    display: none;
  }
  .magic-artist-name span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
    background-color: var(--bg-color-card);
    border-radius: 20px;
  }
  .magic-artist-name-two span {
    font-family: "Work Sans";
    font-size: 38px;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize;
  }
  .works {
    padding: 40px 0;
  }
  .works-card {
    width: 210px;
    height: 320px;
  }
  .works-card-foto img {
    height: 150px;
    width: 150px;
  }
  .works-card-title span {
    color: var(--White, #fff);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .works-card-title p {
    overflow: hidden;
    text-align: center;
    font-family: "Work Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
  }
  .subscribe-box {
    gap: 30px;
    padding: 40px 30px;
  }
  .subscribe-image {
    width: 300px;
    background-size: cover;
  }
  .subscribe-title {
    width: 300px;
  }
  .subscribe-title-name span:first-child {
    font-family: "Space Mono";
    font-size: 28px;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
    text-transform: capitalize;
  }
  .subscribe-title-folover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
  .subscribe-title-folover input {
    position: relative;
  }
  .subscribe-title-folover span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    cursor: pointer;
  }
  .subscribe-title-folover span:last-child {
    left: 0;
  }
  .footer-info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}