.categories {
  padding: 80px 0;
}

.categories-title {
  margin-bottom: 60px;
  span {
    @include h3;
  }
}
.categories-card-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.categories-card {
  animation: card 1s ease-in-out forwards 10s;
  opacity: 0;
  &:nth-child(1) {
    animation-delay: 15s;
  }
  &:nth-child(2) {
    animation-delay: 15.2s;
  }
  &:nth-child(3) {
    animation-delay: 15.4s;
  }
  &:nth-child(4) {
    animation-delay: 15.6s;
  }
  &:nth-child(5) {
    animation-delay: 15.8s;
  }
  &:nth-child(6) {
    animation-delay: 16s;
  }
  &:nth-child(7) {
    animation-delay: 16.2s;
  }
  &:nth-child(8) {
    animation-delay: 16.4s;
  }
}

.categories-card-foto {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-card);

  border-radius: 20px 20px 0px 0px;
  position: relative;

  img {
    filter: blur(5.5px);
    width: 240px;
    height: 240px;
    border-radius: 20px 20px 0 0;
  }
}

.one {
  &::before {
    content: url(../assets/icons/PaintBrush.svg);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.two {
  &::before {
    content: url(../assets/icons/Swatches.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.three {
  &::before {
    content: url(../assets/icons/MusicNotes.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
.four {
  &::before {
    content: url(../assets/icons/Camera.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
.five {
  &::before {
    content: url(../assets/icons/VideoCamera.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
.six {
  &::before {
    content: url(../assets/icons/MagicWand.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
.seven {
  &::before {
    content: url(../assets/icons/Basketball.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
.night {
  &::before {
    content: url(../assets/icons/Planet.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.categories-card-title {
  @include h5;
  background-color: var(--bg-color-card);
  padding: 20px 30px 25px 30px;
  border-radius: 0 0 20px 20px;
}
