.foto {
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
}

.foto1 {
  background-image: url(../assets/images/foto1.png);
}

// !          minifoto :

.minifoto1 {
  background-image: url(../assets/images/minifoto1.png);
}
.minifoto2 {
  background-image: url(../assets/images/minifoto2.png);
}

.avatar1 {
  background-image: url(../assets/avatars/avatar1.png);
}
.avatar2 {
  background-image: url(../assets/avatars/avatar2.png);
}
.avatar3 {
  background-image: url(../assets/avatars/avatar3.png);
}
.avatar4 {
  background-image: url(../assets/avatars/avatar4.png);
}
