:root {
    --bg-color: #2B2B2B;
    --bg-foot-color: #3b3b3b;
    --font-color: #fff;
    --buttom-color: #A259FF;
    --btn-bef:  #9649fb;
    --header-text-size: 16px;
    --bg-color-card: #3b3b3b;
    --color-cost-card: #858584;
    --foot-color: #ccc;
}
