:root {
  --bg-color: #2b2b2b;
  --bg-foot-color: #3b3b3b;
  --font-color: #fff;
  --buttom-color: #a259ff;
  --btn-bef: #9649fb;
  --header-text-size: 16px;
  --bg-color-card: #3b3b3b;
  --color-cost-card: #858584;
  --foot-color: #ccc;
  --menu-color: #282828;
  --menu-items: rgba(160, 37, 37, 0.758);
  --gradient: linear-gradient(45deg, red 22%, orange 88%, green);
}
